<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>NotiSamu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    
    <ion-row>
      <ion-col padding-botton>
        <div text-center>
          <h3>A notificação não apresenta caráter
            punitivo. Ela visa a segurança do
            paciente e uma melhor qualidade no
            atendimento ao usuário da
            unidade de saúde.
          </h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col padding-top>
        <ion-button color="tertiary" expand="full" (click)="abrirPagina('registro-data-hora')">Continuar</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>